* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  max-width: 760px;
  width: 100%;
  margin:100px auto; 
}

.select-box{
  background-color: #f6fafd;
  padding: 10px;
  border-radius: 4px;
}
.select-box select{
  padding:7.5px;
  border-radius: 4px;
  border-color:#d2dbe5;
  cursor: pointer;
}

.days{ 
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 15px;
}
.days .day {
  padding: 5px 0;
  display: flex;
  flex: 1;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  color:#b6b6b6;
  font-weight: 600;
}
.days .day:hover {
  color:#797979;
}
.days .day:hover .day-img{
  transform: scale(1.2);
  transition: transform 0.5s;
  cursor: pointer;
}
.days .day:first-child{ 
  border:solid 1px #ececec;
  background-color: #fbfcff;
}
.days .day-img{
  width: 100%;
  max-width: 80px;
  transition: transform 0.5s;
}
.days .day-deg span:first-child{ 
  color:#797979;
  margin-right: 5px;
}